In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../Data/Hakerearth House rate/train.csv")
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
test = pd.read_csv("../Data/Hakerearth House rate/test.csv")
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [7]:
for i in df.columns:
    if df[i].isna().sum() != 0:
        print(i , df[i].isna().sum(), df[i].dtype)

LotFrontage 259 float64
Alley 1369 object
MasVnrType 8 object
MasVnrArea 8 float64
BsmtQual 37 object
BsmtCond 37 object
BsmtExposure 38 object
BsmtFinType1 37 object
BsmtFinType2 38 object
Electrical 1 object
FireplaceQu 690 object
GarageType 81 object
GarageYrBlt 81 float64
GarageFinish 81 object
GarageQual 81 object
GarageCond 81 object
PoolQC 1453 object
Fence 1179 object
MiscFeature 1406 object

In [8]:
for i in test.columns:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum(), test[i].dtype)

MSZoning 4 object
LotFrontage 227 float64
Alley 1352 object
Utilities 2 object
Exterior1st 1 object
Exterior2nd 1 object
MasVnrType 16 object
MasVnrArea 15 float64
BsmtQual 44 object
BsmtCond 45 object
BsmtExposure 44 object
BsmtFinType1 42 object
BsmtFinSF1 1 float64
BsmtFinType2 42 object
BsmtFinSF2 1 float64
BsmtUnfSF 1 float64
TotalBsmtSF 1 float64
BsmtFullBath 2 float64
BsmtHalfBath 2 float64
KitchenQual 1 object
Functional 2 object
FireplaceQu 730 object
GarageType 76 object
GarageYrBlt 78 float64
GarageFinish 78 object
GarageCars 1 float64
GarageArea 1 float64
GarageQual 78 object
GarageCond 78 object
PoolQC 1456 object
Fence 1169 object
MiscFeature 1408 object
SaleType 1 object

In [9]:
for i in df.columns:
    if len(df[i].unique()) == 1460:
        print(i)

Id

In [10]:
df.drop(["Id"] , axis = 1 , inplace = True)
ids = test["Id"]
test.drop(["Id"] , axis = 1 , inplace = True)

In [11]:
cats_df = df.select_dtypes(include="object").columns
cats_df

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [12]:
ints_df = df.select_dtypes(exclude = "object").columns
ints_df

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [13]:
len(df.columns) == len(ints_df) + len(cats_df)

True

In [14]:
ints_test = test.select_dtypes(exclude = "object").columns
ints_test

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold'],
      dtype='object')

In [15]:
cats_test = test.select_dtypes(include="object").columns
cats_test

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [16]:
for i in cats_df:
    if df[i].isna().sum() != 0:
        print(i , df[i].isna().sum())

Alley 1369
MasVnrType 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [17]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum())

MSZoning 4
Alley 1352
Utilities 2
Exterior1st 1
Exterior2nd 1
MasVnrType 16
BsmtQual 44
BsmtCond 45
BsmtExposure 44
BsmtFinType1 42
BsmtFinType2 42
KitchenQual 1
Functional 2
FireplaceQu 730
GarageType 76
GarageFinish 78
GarageQual 78
GarageCond 78
PoolQC 1456
Fence 1169
MiscFeature 1408
SaleType 1

In [18]:
len(df) , len(test)

(1460, 1459)

In [19]:
df[["FireplaceQu" , "SalePrice"]].groupby(["FireplaceQu"]).mean()

                 SalePrice
FireplaceQu
Ex           337712.500000
Fa           167298.484848
Gd           226351.415789
Po           129764.150000
TA           205723.488818

In [20]:
df.drop(["MiscFeature" , "PoolQC" , "Alley" , "Fence"] , axis = 1 , inplace = True)
test.drop(["MiscFeature" , "PoolQC" , "Alley" , "Fence"] , axis = 1 , inplace = True)

In [21]:
cats_df = df.select_dtypes(include="object").columns
cats_df

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [22]:
cats_test = test.select_dtypes(include="object").columns
cats_test

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [23]:
for i in cats_df:
    if df[i].isna().sum() != 0:
        print(i)
        print("\n\n")
        print(df[i].unique())
        print("\n\n")
        print(df[i].value_counts())
        print("\n\n")

MasVnrType



['BrkFace' 'None' 'Stone' 'BrkCmn' nan]



None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64



BsmtQual



['Gd' 'TA' 'Ex' nan 'Fa']



TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64



BsmtCond



['TA' 'Gd' nan 'Fa' 'Po']



TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64



BsmtExposure



['No' 'Gd' 'Mn' 'Av' nan]



No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64



BsmtFinType1



['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']



Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64



BsmtFinType2



['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']



Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64



Electrical



['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]



SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64



FireplaceQu



[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']



Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64



GarageType



['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']



Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64



GarageFinish



['RFn' 'Unf' 'Fin' nan]



Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64



GarageQual



['TA' 'Fa' 'Gd' nan 'Ex' 'Po']



TA    1311
Fa      48
Gd      14
Po       3
Ex       3
Name: GarageQual, dtype: int64



GarageCond



['TA' 'Fa' nan 'Gd' 'Po' 'Ex']



TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

In [24]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        print(i)
        print("\n\n")
        print(test[i].unique())
        print("\n\n")
        print(test[i].value_counts())
        print("\n\n")

MSZoning



['RH' 'RL' 'RM' 'FV' 'C (all)' nan]



RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64



Utilities



['AllPub' nan]



AllPub    1457
Name: Utilities, dtype: int64



Exterior1st



['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'CemntBd' 'WdShing'
 'BrkFace' 'AsbShng' 'BrkComm' 'Stucco' 'AsphShn' nan 'CBlock']



VinylSd    510
MetalSd    230
HdBoard    220
Wd Sdng    205
Plywood    113
CemntBd     65
BrkFace     37
WdShing     30
AsbShng     24
Stucco      18
BrkComm      4
AsphShn      1
CBlock       1
Name: Exterior1st, dtype: int64



Exterior2nd



['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'Brk Cmn' 'CmentBd'
 'ImStucc' 'Wd Shng' 'AsbShng' 'Stucco' 'CBlock' 'BrkFace' 'AsphShn' nan
 'Stone']



VinylSd    510
MetalSd    233
HdBoard    199
Wd Sdng    194
Plywood    128
CmentBd     66
Wd Shng     43
BrkFace     22
Stucco      21
AsbShng     18
Brk Cmn     15
ImStucc      5
CBlock       2
Stone        1
AsphShn      1
Name: Exterior2nd, dtype: int64



MasVnrType



['None' 'BrkFace' 'Stone' 'BrkCmn' nan]



None       878
BrkFace    434
Stone      121
BrkCmn      10
Name: MasVnrType, dtype: int64



BsmtQual



['TA' 'Gd' 'Ex' 'Fa' nan]



TA    634
Gd    591
Ex    137
Fa     53
Name: BsmtQual, dtype: int64



BsmtCond



['TA' 'Po' 'Fa' 'Gd' nan]



TA    1295
Fa      59
Gd      57
Po       3
Name: BsmtCond, dtype: int64



BsmtExposure



['No' 'Gd' 'Mn' 'Av' nan]



No    951
Av    197
Gd    142
Mn    125
Name: BsmtExposure, dtype: int64



BsmtFinType1



['Rec' 'ALQ' 'GLQ' 'Unf' 'BLQ' 'LwQ' nan]



GLQ    431
Unf    421
ALQ    209
Rec    155
BLQ    121
LwQ     80
Name: BsmtFinType1, dtype: int64



BsmtFinType2



['LwQ' 'Unf' 'Rec' 'BLQ' 'GLQ' 'ALQ' nan]



Unf    1237
Rec      51
LwQ      41
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64



KitchenQual



['TA' 'Gd' 'Ex' 'Fa' nan]



TA    757
Gd    565
Ex    105
Fa     31
Name: KitchenQual, dtype: int64



Functional



['Typ' 'Min2' 'Min1' 'Mod' 'Maj1' 'Sev' 'Maj2' nan]



Typ     1357
Min2      36
Min1      34
Mod       20
Maj1       5
Maj2       4
Sev        1
Name: Functional, dtype: int64



FireplaceQu



[nan 'TA' 'Gd' 'Po' 'Fa' 'Ex']



Gd    364
TA    279
Fa     41
Po     26
Ex     19
Name: FireplaceQu, dtype: int64



GarageType



['Attchd' 'Detchd' 'BuiltIn' nan 'Basment' '2Types' 'CarPort']



Attchd     853
Detchd     392
BuiltIn     98
2Types      17
Basment     17
CarPort      6
Name: GarageType, dtype: int64



GarageFinish



['Unf' 'Fin' 'RFn' nan]



Unf    625
RFn    389
Fin    367
Name: GarageFinish, dtype: int64



GarageQual



['TA' nan 'Fa' 'Gd' 'Po']



TA    1293
Fa      76
Gd      10
Po       2
Name: GarageQual, dtype: int64



GarageCond



['TA' nan 'Fa' 'Gd' 'Po' 'Ex']



TA    1328
Fa      39
Po       7
Gd       6
Ex       1
Name: GarageCond, dtype: int64



SaleType



['WD' 'COD' 'New' 'ConLD' 'Oth' 'Con' 'ConLw' 'ConLI' 'CWD' nan]



WD       1258
New       117
COD        44
ConLD      17
CWD         8
ConLI       4
Oth         4
ConLw       3
Con         3
Name: SaleType, dtype: int64

In [25]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        print(i)
        print("\n\n")
        print(df[i].unique())
        print("\n\n")
        print(df[i].value_counts())
        print("\n\n")

MSZoning



['RL' 'RM' 'C (all)' 'FV' 'RH']



RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64



Utilities



['AllPub' 'NoSeWa']



AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64



Exterior1st



['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']



VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
Stone        2
BrkComm      2
AsphShn      1
ImStucc      1
CBlock       1
Name: Exterior1st, dtype: int64



Exterior2nd



['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock']



VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64



MasVnrType



['BrkFace' 'None' 'Stone' 'BrkCmn' nan]



None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64



BsmtQual



['Gd' 'TA' 'Ex' nan 'Fa']



TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64



BsmtCond



['TA' 'Gd' nan 'Fa' 'Po']



TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64



BsmtExposure



['No' 'Gd' 'Mn' 'Av' nan]



No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64



BsmtFinType1



['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']



Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64



BsmtFinType2



['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']



Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64



KitchenQual



['Gd' 'TA' 'Ex' 'Fa']



TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64



Functional



['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']



Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64



FireplaceQu



[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']



Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64



GarageType



['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']



Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64



GarageFinish



['RFn' 'Unf' 'Fin' nan]



Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64



GarageQual



['TA' 'Fa' 'Gd' nan 'Ex' 'Po']



TA    1311
Fa      48
Gd      14
Po       3
Ex       3
Name: GarageQual, dtype: int64



GarageCond



['TA' 'Fa' nan 'Gd' 'Po' 'Ex']



TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64



SaleType



['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth']



WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

In [26]:
for i in cats_df:
    if df[i].isna().sum() != 0:
        df[i].fillna(df[i].mode()[0] , inplace = True)

In [27]:
for i in cats_df:
    if df[i].isna().sum() != 0:
        print(i , df[i].isna().sum())

In [28]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        test[i].fillna(df[i].mode()[0] , inplace = True)

In [29]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum())

In [30]:
df.isna().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 76, dtype: int64

In [31]:
for i in df.columns:
    if df[i].isna().sum() != 0:
        print(i , df[i].isna().sum(), df[i].dtype)

LotFrontage 259 float64
MasVnrArea 8 float64
GarageYrBlt 81 float64

In [32]:
for i in test.columns:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum(), test[i].dtype)

LotFrontage 227 float64
MasVnrArea 15 float64
BsmtFinSF1 1 float64
BsmtFinSF2 1 float64
BsmtUnfSF 1 float64
TotalBsmtSF 1 float64
BsmtFullBath 2 float64
BsmtHalfBath 2 float64
GarageYrBlt 78 float64
GarageCars 1 float64
GarageArea 1 float64

In [33]:
test.isna().sum()

MSSubClass         0
MSZoning           0
LotFrontage      227
LotArea            0
Street             0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
Length: 75, dtype: int64

In [34]:
ints_df = df.select_dtypes(exclude = "object").columns
ints_df

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [35]:
cats_df = df.select_dtypes(include="object").columns
cats_df

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [36]:
cats_test = test.select_dtypes(include="object").columns
cats_test

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [37]:
ints_df = test.select_dtypes(exclude = "object").columns
ints_df

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold'],
      dtype='object')

In [38]:
for i in cats_test:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum())

In [39]:
for i in ints_test:
    if test[i].isna().sum() != 0:
        print(i , test[i].isna().sum())

LotFrontage 227
MasVnrArea 15
BsmtFinSF1 1
BsmtFinSF2 1
BsmtUnfSF 1
TotalBsmtSF 1
BsmtFullBath 2
BsmtHalfBath 2
GarageYrBlt 78
GarageCars 1
GarageArea 1

In [40]:
df = pd.get_dummies(df , columns = cats_df , prefix = cats_df)

In [41]:
test = pd.get_dummies(test , columns = cats_test , prefix = cats_test)

In [42]:
len(df.columns) , len(test.columns)

(276, 259)

In [43]:
for i in df.columns:
    if i not in test.columns:
        print(i)

SalePrice
Utilities_NoSeWa
Condition2_RRAe
Condition2_RRAn
Condition2_RRNn
HouseStyle_2.5Fin
RoofMatl_ClyTile
RoofMatl_Membran
RoofMatl_Metal
RoofMatl_Roll
Exterior1st_ImStucc
Exterior1st_Stone
Exterior2nd_Other
Heating_Floor
Heating_OthW
Electrical_Mix
GarageQual_Ex

In [44]:
for i in df.columns:
    if i not in test.columns and i != "SalePrice":
        test[i] = 0

In [45]:
len(df.columns) , len(test.columns)

(276, 275)

In [46]:
df.head().T

                            0       1        2       3        4
MSSubClass               60.0    20.0     60.0    70.0     60.0
LotFrontage              65.0    80.0     68.0    60.0     84.0
LotArea                8450.0  9600.0  11250.0  9550.0  14260.0
OverallQual               7.0     6.0      7.0     7.0      8.0
OverallCond               5.0     8.0      5.0     5.0      5.0
...                       ...     ...      ...     ...      ...
SaleCondition_AdjLand     0.0     0.0      0.0     0.0      0.0
SaleCondition_Alloca      0.0     0.0      0.0     0.0      0.0
SaleCondition_Family      0.0     0.0      0.0     0.0      0.0
SaleCondition_Normal      1.0     1.0      1.0     0.0      1.0
SaleCondition_Partial     0.0     0.0      0.0     0.0      0.0

[276 rows x 5 columns]

In [47]:
from sklearn.model_selection import train_test_split
X = df.drop(["SalePrice"] , axis = 1)
y = df["SalePrice"]
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

In [48]:
X_train

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
254,20,70.0,8400,5,6,1957,1957,0.0,922,0,...,0,0,0,1,0,0,0,0,1,0
1066,60,59.0,7837,6,7,1993,1994,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
638,30,67.0,8777,5,7,1910,1950,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
799,50,60.0,7200,5,7,1937,1950,252.0,569,0,...,0,0,0,1,0,0,0,0,1,0
380,50,50.0,5000,5,6,1924,1950,0.0,218,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,20,78.0,9317,6,5,2006,2006,0.0,24,0,...,0,0,0,1,0,0,0,0,1,0
1130,50,65.0,7804,4,3,1928,1950,0.0,622,0,...,0,0,0,1,0,0,0,0,1,0
1294,20,60.0,8172,5,7,1955,1990,0.0,167,0,...,0,0,0,1,0,0,0,0,1,0
860,50,55.0,7642,7,8,1918,1998,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1126,120,53.0,3684,7,5,2007,2007,130.0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [49]:
for i in X_train.columns:
    if X_train[i].isna().sum() != 0:
        print(i)

LotFrontage
MasVnrArea
GarageYrBlt

In [50]:
X_train["LotFrontage"].median()

70.0

In [51]:
X_train["MasVnrArea"].median()

0.0

In [52]:
X_train["GarageYrBlt"].median()

1980.0

In [53]:
X_train.isna().sum()

MSSubClass                 0
LotFrontage              217
LotArea                    0
OverallQual                0
OverallCond                0
                        ...
SaleCondition_AdjLand      0
SaleCondition_Alloca       0
SaleCondition_Family       0
SaleCondition_Normal       0
SaleCondition_Partial      0
Length: 275, dtype: int64

In [54]:
for i in ints_df:
    if df[i].isna().sum() != 0:
        X_train[i].fillna(X_train[i].median() , inplace = True)
        X_test[i].fillna(X_train[i].median() , inplace = True)

C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [55]:
ints_df = X.select_dtypes(exclude = "object").columns
ints_df

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=275)

In [56]:
for i in ints_test:
    if test[i].isna().sum() != 0:
        test[i].fillna(X_train[i].median() , inplace = True)
        test[i].fillna(X_train[i].median() , inplace = True)

In [57]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[ints_df] = scaler.fit_transform(X_train[ints_df])
X_test[ints_df] = scaler.transform(X_test[ints_df])
test[ints_df] = scaler.transform(test[ints_df])

<ipython-input-57-d8b7de1dbd18>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[ints_df] = scaler.fit_transform(X_train[ints_df])
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-57-d8b7de1dbd18>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[ints_df] = scaler.transform(X_test[ints_df])
C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [58]:
for i in X_train.columns:
    if X_train[i].isna().sum() != 0:
        print(i)

In [59]:
for i in X_train.columns:
    if X_train[i].isna().sum() != 0:
        print(i)

In [60]:
for i in test.columns:
    if test[i].isna().sum() != 0:
        print(i)

In [61]:
from sklearn.ensemble import RandomForestRegressor
random = RandomForestRegressor(random_state = 42)
random.fit(X_train , y_train)

RandomForestRegressor(random_state=42)

In [62]:
random.score(X_train , y_train)

0.9794083023143713

In [63]:
random.score(X_test , y_test)

0.8895202870824191

In [64]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(X_train , y_train)

LinearRegression()

In [65]:
linear.score(X_train , y_train)

0.9340656127418742

In [66]:
linear.score(X_test , y_test)

-1.6568416964092923e+22

In [67]:
import xgboost
xgb = xgboost.XGBRegressor()
xgb.fit(X_train , y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [68]:
xgb.score(X_train , y_train)

C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

0.9996982354429245

In [69]:
xgb.score(X_test , y_test)

C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

0.8897205460183699

In [70]:
from sklearn.model_selection import GridSearchCV

rf_grid = {"n_estimators": [50 , 100 , 150 , 200 , 250 , 300 , 350 , 400]
#            "criterion" : ["msa" , "mse"],
#            "max_features" : ["auto" , "sqrt" , "log2"] , 
#            "bootstrap" : [True , False] 
          }

rs_model = GridSearchCV(RandomForestRegressor(),
                              param_grid=rf_grid,
                              cv=5,
                              n_jobs = -1,
                              verbose = True)

rs_model.fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   47.3s finished

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'n_estimators': [50, 100, 150, 200, 250, 300, 350,
                                          400]},
             verbose=True)

In [71]:
rs_model.best_params_

{'n_estimators': 250}

In [72]:
rs_model.score(X_train , y_train)

0.9785430597543784

In [73]:
rs_model.score(X_test , y_test)

0.8967203650928468

In [76]:
xgb.score(X_test , y_test)

C:\Users\DINESHREDDY\Desktop\sample_project\env\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

0.8897205460183699

In [74]:
random_preds = random.predict(test)

In [75]:
random_preds

array([131746.  , 155111.95, 183565.71, ..., 163993.3 , 118647.5 ,
       225338.01])

In [77]:
data = {"Id" : ids , 
       "SalePrice" : random_preds}

In [78]:
final = pd.DataFrame(data , columns = ["Id" , "SalePrice"])

In [79]:
final.head()

     Id  SalePrice
0  1461  131746.00
1  1462  155111.95
2  1463  183565.71
3  1464  188018.65
4  1465  217893.56

In [80]:
final.to_csv("HackerEarth House Rate 1.csv" , index = False)